dev.env
.dev_opts.json
.idea
*.code-workspace
*.pyc
*.swp
*~
*.egg-info/
build
dist
tornado.web
tornado.ioloop
.installed
.mypy_cache
.vscode
.theia
.venv/

# Created by unit tests
#coverage.xml
pytest.ini
#.coverage
.testmondata*
.pytest_cache/
#/htmlcov
/.gtm/
!/.ruff_cache/
